<h1>Delete <%= @message %></h1>

<div>
  <form action="/remove_post" method="post">
    <input type="hidden" name="message" value="<%= @message %>" />
    <input type="hidden" name="board_name" value="<%= @board_name %>" />
    Password (to delete): <input type="text" name="password"><br>
    <%= csrf_tag %>
    <input type="submit" value="Submit">
  </form>
</div>