<div class="panel panel-default">
  <div class="panel-body">
    <h1>Delete <%= @board_name %></h1>
    <form id="remove_board" action="/remove_board" method="post">
      <input type="hidden" name="board_name" value="<%= @board_name %>" />
      Password (to delete): <input type="text" name="password"><br>
      <%= csrf_tag %>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>