<h1>Unban Hash</h1>

<p>Banned Hashes:</p>

<ul>
  <% collection.find({"ip_hash" => {"$ne" => ""}}) do |hash| %>
    <li><strong><%= hash["ip_hash"] %></strong></li>
  <% end %>
</ul>

<div>
  <form id="unban_hash" action="/unban_hash" method="post">
    <p>Hash to unban: <input type="text" name="ip_hash" /></p>
    <p>Admin Password: <input type="text" name="password"><br></p>
    <%= csrf_tag %>
    <input type="submit" value="Submit">
  </form>
</div>