<%- active = context.request.path == "/" ? "active" : "" %>
<a class="nav-item <%= active %>" href="/">Main</a>
<% if active == "" %>
<a class="nav-item active" href="<%= context.request.path %>"><%= @board_name %></a>
<% end %>