<!doctype html>
<html>
  <head>
  <title>LivePost</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <% theme_path = session["theme"].nil? ? "main.css" : session["theme"] %>
    <link id="theme_link" rel="stylesheet" href="/stylesheets/themes/<%= theme_path %>" />
    <link rel="stylesheet" href="/stylesheets/im.css" />
    <link rel="stylesheet" href="/stylesheets/chat.css" />
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/jquery-ui.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/lz-string.js"></script>
    <script src="/javascripts/amber.js"></script>
    <script src="/javascripts/strip-combining-marks.js"></script>
  </head>
  <body>
    <div class="masthead">
      <div class="container">
        <nav class="nav">
          <%= render_template "layouts/_nav.ecr" %>
        </nav>
      </div>
    </div>

    <% if session[:handle] != "" && !session[:handle].nil? %>
      <div class="container">
        <div class="im">
          <%= render_template "layouts/_chat_window.ecr" %>
        </div>
      </div>
    <% end %>

    <div class="container" style="padding-bottom: 70px">
      <div class="row">
        <%- flash.each do |key, value| %>
          <div class="alert alert-<%= key %>">
            <p><%= flash[key] %></p>
          </div>
        <%- end %>
      </div>

      <div class="row">
        <div class="col-sm-12 main">
          <%= content %>
        </div>
      </div>

    </div>

    <footer class="footer navbar-fixed-bottom">
      <div class="container">
        <p class="text-muted last-posted"></p>
      </div>
    </footer>


    <script>window.board_name = "<%= @board_name.to_s %>";</script>
    <script>window.handle = "<%= session[:handle] %>";</script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
