<!doctype html>
<html>
  <head>
  <title>LivePost</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/lz-string.js"></script>
    <% if ENV["AMBER_ENV"] == "production" %>
      <script src="/javascripts/amber.js"></script>
    <% else %>
      <script src="/javascripts/amber-dev.js"></script>
    <% end %>
    <script src="/javascripts/strip-combining-marks.js"></script>
  </head>
  <body>
    <div class="masthead">
      <div class="container">
        <nav class="nav">
          <%= render_template "layouts/_nav.ecr" %>
        </nav>
      </div>
    </div>

    <div class="container" style="padding-bottom: 70px">
      <div class="row">
        <%- flash.each do |key, value| %>
          <div class="alert alert-<%= key %>">
            <p><%= flash[key] %></p>
          </div>
        <%- end %>
      </div>

      <div class="row">
        <div class="col-sm-12 main">
          <%= content %>
        </div>
      </div>

    </div>

    <footer class="footer navbar-fixed-bottom">
      <div class="container">
        <p class="text-muted last-posted"></p>
      </div>
    </footer>


    <script>window.board_name = "<%= @board_name.to_s %>";</script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
